
html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

header {
    display:flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    color: rgb(97, 97, 97);
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h3 {
    color: rgb(97, 97, 97);  
}

h2 {
    font-size: larger;
}

h3 {
    font-size: large;
}

p {
    margin: 0px;
}



.red {
color: rgb(221, 26, 26);
font-size: 60px;
}

.gray {
    color: rgb(83, 83, 83);
    font-size: 60px;
}

.multi-column-container {
    display: flex;
    margin-left: 20px;

}

.two-column-item {
    width: calc(100% / 2 - 40px);
    margin: 5px;
    border: 5px;
    border-radius: 15px;
    text-align: center;
    color: rgb(97, 97, 97);
}

.img-thumbnail {
    width: 30px;
    padding-top: 20px;
    margin: 10px;
}

.space {
    padding-top: 50px;
}

.second-multi-column-container {
    display: flex;
    margin-left: 50px;
    
}

.second-column-item {
    margin: 50px; 
    font-size: 15px;
    font-weight: bold;  
}

.shield {
    background-color: rgb(231, 231, 231);
    padding: 40px;
}

.form-space {
    padding-bottom: 25px;
}

input, textarea {
    width: 94%;
    padding: 5px;
}

.name {
    display: inline;
    width: 46%;
    padding-inline: 2px;
}

.birthday {
    padding: 5px;
    padding-inline: 2px;
    width: 30%;
}

.birthday-row {
    display: inline;
    width: 30%;
}

.gender {
    padding: 5px;
    padding-inline: 2px;
    width: 96%;
}

.country {
    padding: 5px;
    padding-inline: 2px;
    width: 96%;
}

.button {
   width: 20%;
}

[type=submit] {
    background-color: rgb(56, 103, 192);
    color: white;
    padding: 7px;
    border: none;
}